<div role="alert" class="alert alert-info bg-blue-200 my-10">
    <div>
      <h3 class="font-bold"><%= avviso.titolo %></h3>
      <p class="text-s py-1"><%= avviso.descrizione %></p>
      <p class="text-xs"><%= avviso.data.toLocaleDateString() %></p>
    </div>
</div>