<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Avvisi"}) %>
</head>
<body>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md pb-10">
            <h1 class="text-3xl font-bold mb-5 mt-10">Avvisi</h1>
            <% avvisi.forEach(avviso => { %>
                <%- include('../partials/avviso', {avviso: avviso, admin: false}) %>
            <% })%>
            </div>
        </div>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>