<!DOCTYPE html>
<html lang="en" data-theme="autumn">

<head>
  <%- include('../partials/head', {title: "Login"}) %>
</head>

<body>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form action="/login" method="POST" class="card-body">
          <div class="form-control">
            <h1 class="text-xl text center font-bold">Accedi</h1>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" name="password" placeholder="password" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary btn-outline" type="submit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/navbar') %>
</body>

</html>