<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Scegli la materia</h1>
    <% for (materia in materie) { %>
        <button onclick="location.href = '/materia/<%= materie[materia].endpoint %>'"><%= materie[materia].abbreviazione %></button>
    <% } %>
</body>
</html>